@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.page {
    height: 100vh;
}


.alco-header {
    background-color: #3D8C40;
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alco-header-title {
    color: #fff;
    font-size: 36px;
}

.search-bar {
    padding: 20px 0 20px 0;
}

.alco-catalog {
    padding: 20px 0 35px 0;
}

.alco-catalog-title {
    color: #3D8C40;
    font-weight: 700;
    font-size: 30px;
}

.alco-catalog-container {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-price {
    color: #3D8C40;
    font-weight: 700;
    font-size: 18px;
}

.alco-card {
    margin: 15px;
    min-width: 300px;
    width: 300px;
}

.alco-image {
    max-height: 400px;
    height: 400px;
}