@page "/"
@using AlcoShopCommon;
@inject IAlcoService Service

<AlcoHeader Title="San Alco Shop"/>
<div class="container">
    <AlcoSearchBar />
    <AlcoCatalog Alcohols="@AlcoholsToDisplay"/>
</div>


@code {

    List<Product> AlcoholsToDisplay { get; set; }

    protected override void OnInitialized()
    {
        AlcoholsToDisplay = Service.GetRandomProducts().ToList();
    }

    // zacząć nastepne zajęcia od:
    // przekazać SearchText z wyszukiwarki tutaj
}
